meta(name='description' content=meta.description)

<!-- Facebook -->
meta(property='og:title' content=meta.share.og.title)
meta(property='og:description' content=meta.share.og.description)
meta(property='og:type' content=meta.share.og.type)
meta(property='og:site_name' content=meta.share.og.site_name)
meta(property='og:locale' content=meta.share.og.locale)
meta(property='og:url' content=meta.share.og.url)
meta(property='og:image' content=meta.share.og.image)

<!-- Twitter -->
meta(name='twitter:title' content=meta.share.twitter.title)
meta(name='twitter:description' content=meta.share.twitter.description)
meta(name='twitter:site' content=meta.share.twitter.site)
meta(name='twitter:card' content=meta.share.twitter.card)
meta(name='twitter:domain' content=meta.share.twitter.domain)
meta(name='twitter:img:src' content=meta.share.twitter.img_src)
